.container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.header {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
}